h1{
    color:blue;
    background-color:black
}

h2{
    color:#ffffff;
    background-color:rgb(237,199,185)
}
p{
    color:red;
    background-color:aquamarine
}
button{
    color:blueviolet;
    background-color:chocolate
}